/* App-specific css */
#countdown-output {
  width: 500px;
  height: 500px;
}
#countdown-output.ringing-timer {
  background-color: red;
}
#countdown-output .remaining-duration {
  color: blue;
}

label.form-control {
  border:none
}
