/* App-specific css */
body {
  padding-top: 70px;
}

#display-div {
}

#userinput-textarea {
  height: 100px;
}

#status-console {
  font-size: 80%;
}

#update-cache-button {
  display: none;
}

.highlight {
  background-color: yellow;
}
